[Unit]
Description=LinkBridge Python Service
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/home/admin/linkbridge
ExecStart=/home/admin/linkbridge/venv/bin/python /home/admin/linkbridge/clock.py
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target